<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs') %>

<body style="margin-top:120px;background-image: url('/images/index/bg_header.png?4');background-repeat: no-repeat;background-position: top 50px right;background-size:600px 159px;">

<%- include('./body.ejs') %>

<div class="off-canvas-content" data-off-canvas-content>
    <main class="main-content">
        <div class="grid-container">
            <div class="vspace-2"></div>
            <h4 class="text-center">文章发布</h4>
            <div class="section">
                <form class="register-form" id="edit-form" action="" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrf %>">
                    <label for="title"><p style="font-size: 20px">标题</p>
                        <input id="title" type="text" name="title" value="">
                    </label>
                    <label for="slug"><p style="font-size: 20px">URL</p>
                        <input id="slug" type="text" name="slug" value="">
                    </label>

                    <label for="category"><p style="font-size: 20px">分类</p>
                        <select name="category" id="category">
                            <option value="1">最新资讯</option>
                            <option value="2">LIVE相关</option>
                            <option value="3">会员活动</option>
                            <option value="4">重要通知</option>
                            <option value="5">限定视频</option>
                            <option value="6">现场日记</option>
                        </select>
                    </label>

                    <label for="premium"><p style="font-size: 20px">会员限定</p>
                        <fieldset class="large-5 cell" id="premium">
                            <input type="radio" name="premium" value="true" id="true">
                            <label for="true">是</label>
                            <input type="radio" name="premium" value="" id="false" checked>
                            <label for="false">否</label>
                        </fieldset>
                    </label>

                    <label for="content"><p style="font-size: 20px">正文</p>
                        <textarea id="content" name="content" class="xheditor" style="width: 100%; height: 500px;"></textarea>
                    </label>

                    <div class="vspace-2"></div>

                    <div>
                        <button type="submit" class="button expanded">保存文章</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <%- include('./footer.ejs') %>

</div>

</body>
<script>
    url = window.location.pathname;
    urlArr = url.split('/admin/')[1];
    [api_url, type] = urlArr.split('/');
    // url = url.substring(url.lastIndexOf('/') + 1, url.length);

    $(document).ready(function () {
        xhe = $('.xheditor').xheditor({
            tools: 'full',
            skin: 'default',
            upImgUrl: 'http://localhost:3000/admin/upsert',
            html5Upload: false,
            upMultiple: 1,
        });

        <% if(locals.data) { %>
            $('#title').attr('value', "<%= data.title %>");
        <% } %>
        <% if(locals.data) { %>
            $('#slug').attr('value', "<%= data.slug %>");
        <% } %>
        <% if(locals.data) { %>
            $('#category').attr('selectedIndex', `<%= data.category %>-1`);
        <% } %>
<!--        <% if(locals.data) { %>-->
<!--            $('#premium').elements[0].attr('checked', true);-->
<!--        <% } %>-->
        <% if(locals.data) { %>
            xhe.pasteHTML(`<%- data.content %>`);
        <% } %>

        if (type === 'add') {
            $('#edit-form').attr('action', `/admin/insert/${api_url}`)
        } else {
            $('#edit-form').attr('action', `/admin/update/${api_url}`)
        }
    });
</script>
</html>