<!doctype html>
<html lang="en" class="no-js">

<%- include('./head.ejs') %>

<body style="
    margin-top:120px;
	background-image: url('/images/index/bg_header.png?4');
	background-repeat: no-repeat;
	background-position: top 50px right;
	background-size:600px 159px;
	">
<%- include('./bodycommon.ejs') %>

<div class="off-canvas-content" data-off-canvas-content>
    <div class="header-site-search" data-toggle-search>
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell medium-8 medium-offset-2">
                    <form id="search-form" action="/search" method="GET">
                        <div class="input-group">
                            <input class="input-group-field" name="keywords" type="search" value="" placeholder="I'm looking for..." />
                            <div class="input-group-button">
                                <input type="submit" class="button dark" value="Search">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.cell -->
            </div>
            <!-- /.grid -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header-site-search -->

    <%- include('./header.ejs') %>

    <main class="main-content">

        <div class="grid-container">
            <div class="grid-x grid-padding-y">
                <div class="medium-6 medium-offset-3 cell">
                    <h4 class="text-center">支付</h4>
                    <hr>
                    <p>乃木坂46中国会员站 入会费350元/年</p>
                    <h4>
                        <img alt="alipay" width="100px" src="/images/alipay-logo.png">
                    </h4>
                    <ul>
                        <li><a class="pay-click" href="/pay-alipay">
                                点击进行网站支付</a>
                        </li>
                        <li><a class="pay-click" href="/pay-alipay">
                                点击进行手机支付</a>
                        </li>
                    </ul>

                    <div class="vspace-2"></div>

                    <% if(locals.premium) { %>
                        <div data-closable="" class="callout alert-callout-border warning ">
                            <p><strong>支付完成</strong>（有効期限：<%= new Date(premium.expired_at).toLocaleString() %>）</p>
                        </div>
                    <% } else { %>
                        <div data-closable="" class="callout alert-callout-border warning ">
                            <p class="alert"><strong>支付前</strong></p>
                        </div>
                    <% } %>

                    <div class="vspace-2"></div>
                </div>
            </div>
        </div>
        <script>
            $(function(){
                $('.pay-click').on('click', function(){
                    // 2重送信防止クラスのチェック
                    if ( $(this).hasClass('double_click') ){
                        return false;
                    }
                    $(this).text("送信中...");
                    // 2重送信防止クラス
                    $(this).addClass('double_click');
                });
            });
        </script>

    </main>

    <%- include('./footer.ejs') %>
</div>
<!-- /.off-canvas-content -->

<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="/js/app.js"></script>
<script>
    $(document).foundation();
</script>
</body>

</html>