<!doctype html>
<html lang="en" class="no-js">

<%- include('../head.ejs') %>

<body style="
    margin-top:120px;
	background-image: url('/images/index/bg_header.png?4');
	background-repeat: no-repeat;
	background-position: top 50px right;
	background-size:600px 159px;
	">
<%- include('../bodycommon.ejs') %>

<div class="off-canvas-content" data-off-canvas-content>

    <%- include('../header.ejs') %>


    <div class="header-site-search" data-toggle-search="">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell medium-8 medium-offset-2">
                    <form id="search-form" action="/search" method="GET">
                        <div class="input-group">
                            <input class="input-group-field" name="keywords" type="search" value="" placeholder="I'm looking for...">
                            <div class="input-group-button">
                                <input type="submit" class="button dark" value="Search">
                            </div>
                        </div>
                    </form>                </div> <!-- /.cell -->
            </div> <!-- /.grid -->
        </div> <!-- /.container -->
    </div> <!-- /.header-site-search -->


    <main class="main-content">



        <div class="grid-container">
            <p>　　</p>
            <div class="tckt-SubTitle" style="position: relative; overflow: hidden; background-color: #a872bc;">
                <div class="tckt-SubTitle_Text" style="position: relative; padding: 10px 10px 10px 10px; color: #ffffff; font-weight: bold; font-size: 2vw; line-height: 1.3;">
                    <p class="MsoNormal" style="margin-left: -21.2pt; mso-para-margin-left: -2.02gd; text-indent: 21.2pt; mso-char-indent-count: 2.02;"><span style="color: #ffffff; font-family: 微软雅黑, sans-serif;"><span style="font-size: 21.8933px;"><strong>乃木坂46 8th YEAR BIRTHDAY LIVE</strong></span></span></p>
                    <p class="MsoNormal" style="margin-left: -21.2pt; mso-para-margin-left: -2.02gd; text-indent: 21.2pt; mso-char-indent-count: 2.02;"><span style="color: #ffffff; font-family: 微软雅黑, sans-serif;"><span style="font-size: 21.8933px;"><strong>乃木坂46中国会员先行门票抽选报名开始！</strong></span></span></p>
                </div>
            </div>
            <div class="container" style="padding-right: 10px; padding-left: 10px;">
                <div class="p-1" style="padding: 0.25rem !important;">
                    <p class="MsoNormal">&nbsp;</p>
                    <p class="MsoNormal"><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">（</span></strong><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">为</span></strong><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">保</span></strong><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">证</span></strong><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">您的使用体</span></strong><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">验</span></strong><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">，</span></strong><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">请</span></strong><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">尽量使用</span></strong><strong><span lang="EN-US" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">PC</span></strong><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">端登</span></strong><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">录</span></strong><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">本站参与活</span></strong><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">动。</span></strong><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">）</span></strong></p>
                    <p class="MsoNormal">&nbsp;</p>
                    <p class="MsoNormal"><strong><span lang="JA" style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: purple; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">为保证您能顺利参与本次活动，请务必仔细阅读本次先行门票抽选活动须知。</span></strong></p>
                    <p class="MsoNormal">&nbsp;</p>
                    <p class="MsoNormal"><span style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: #000000;">将于今年<span lang="EN-US">2/21</span>（周五）<span lang="EN-US">~2/24</span>（周一）举办的乃木坂<span lang="EN-US">46</span>「<span lang="EN-US">8th Year BIRTHDAY LIVE</span>」终于从今天开始，乃木坂<span lang="EN-US">46</span>中国站正式会员可以先行报名抽选！</span></p>
                    <p class="MsoNormal">&nbsp;</p>
                    <p class="MsoNormal"><span style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: #000000;">乃木坂<span lang="EN-US">46</span>第<span lang="EN-US">8</span>回的生日<span lang="EN-US">LIVE</span>将在日本名古屋巨蛋举行！赶快报名先行门票抽选吧！</span></p>
                    <p class="MsoNormal">&nbsp;</p>
                    <p class="MsoNormal"><strong><span style="font-size: 12pt; font-family: 微软雅黑, sans-serif; color: #000000;">报名时间：（中国时间）2020年1月5日23:30~1月13日22:59</span></strong></p>
                    <p class="MsoNormal">&nbsp;</p>
                </div>
                <p style="margin: 0px 0px 0.5rem; padding: 0px; color: #666666; font-size: 1.2rem;"><span style="color: #000000;">&lt;演出信息&gt;</span></p>
                <p class="MsoNormal"><span style="color: #000000;"><strong><span lang="JA" style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">乃木坂</span></strong><strong><span lang="EN-US" style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">46 </span></strong><strong><span lang="EN-US" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">8th YEAR BIRTHDAY LIVE</span></strong></span></p>
                <p class="MsoNormal"><span style="color: #000000;"><span lang="JA" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">【</span><span lang="JA" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 微软雅黑;">时间</span><span lang="JA" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">・</span><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">场地</span><span lang="JA" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">】（以下为日本时间）</span></span></p>
                <p class="MsoNormal"><span style="color: #000000;"><strong><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">日本名古屋巨蛋</span></strong></span></p>
                <p class="MsoNormal"><span style="color: #000000;"><span lang="JA" style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">◇</span><span lang="EN-US" style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">Day1 </span></span></p>
                <p class="MsoNormal"><span style="color: #000000;"><strong><span lang="EN-US" style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">2019</span></strong><strong><span style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">年<span lang="EN-US">2</span>月<span lang="EN-US">21</span>日（周五）</span></strong></span></p>
                <p class="MsoNormal" style="text-indent: 21.0pt; mso-char-indent-count: 2.0;"><span style="color: #000000;"><strong><span style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">开场 <span lang="EN-US">15:00 </span>／ 开演 <span lang="EN-US">17:30 &nbsp;&nbsp;&nbsp;</span></span></strong><strong><span style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 微软雅黑; mso-fareast-language: ZH-CN;">终演预定</span></strong><strong><span lang="EN-US" style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;"> 21:00</span></strong></span></p>
                <p class="MsoNormal"><span style="font-family: 微软雅黑, sans-serif; color: #000000;">◇<span lang="EN-US">Day2</span></span></p>
                <p class="MsoNormal"><span style="color: #000000;"><strong><span lang="EN-US" style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">2019</span></strong><strong><span style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">年<span lang="EN-US">2</span>月<span lang="EN-US">22</span>日（周六）</span></strong></span></p>
                <p class="MsoNormal" style="text-indent: 21.0pt; mso-char-indent-count: 2.0;"><span style="color: #000000;"><strong><span style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">开场<span lang="EN-US"> 15:00 </span>／ 开演 <span lang="EN-US">17:30 &nbsp;&nbsp;&nbsp;</span></span></strong><strong><span style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 微软雅黑; mso-fareast-language: ZH-CN;">终演预定</span></strong><strong><span lang="EN-US" style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;"> 21:00</span></strong></span></p>
                <p class="MsoNormal"><span style="font-family: 微软雅黑, sans-serif; color: #000000;">◇<span lang="EN-US">Day3</span></span></p>
                <p class="MsoNormal"><span style="color: #000000;"><strong><span lang="EN-US" style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">2019</span></strong><strong><span style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">年<span lang="EN-US">2</span>月<span lang="EN-US">23</span>日（周日）</span></strong></span></p>
                <p class="MsoNormal" style="text-indent: 21.0pt; mso-char-indent-count: 2.0;"><span style="color: #000000;"><strong><span style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">开场<span lang="EN-US"> 15:00 </span>／ 开演 <span lang="EN-US">17:30 &nbsp;&nbsp;&nbsp;</span></span></strong><strong><span style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 微软雅黑; mso-fareast-language: ZH-CN;">终演预定</span></strong><strong><span lang="EN-US" style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;"> 21:00</span></strong></span></p>
                <p class="MsoNormal"><span style="font-family: 微软雅黑, sans-serif; color: #000000;">◇<span lang="EN-US">Day4</span></span></p>
                <p class="MsoNormal"><span style="color: #000000;"><strong><span lang="EN-US" style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">2019</span></strong><strong><span style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">年<span lang="EN-US">2</span>月<span lang="EN-US">24</span>日（周一·日本祝日）</span></strong></span></p>
                <p class="MsoNormal" style="text-indent: 21.0pt; mso-char-indent-count: 2.0;"><span style="color: #000000;"><strong><span style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">开场 <span lang="EN-US">15:00 </span>／ 开演 <span lang="EN-US">17:30 &nbsp;&nbsp;&nbsp;</span>终演预定<span lang="EN-US"> 21:00</span></span></strong></span></p>
                <p style="margin: 0px 0px 0.5rem; padding: 0px; color: #666666; font-size: 1.2rem;">&nbsp;</p>
                <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">【出演信息】</span></p>
                <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">※生田绘梨花因为出演舞台剧的日程原因，<span lang="EN-US">Day2~Day4</span>将不参加演唱会。</span></p>
                <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">※白石麻衣因为出演电影的日程原因，<span lang="EN-US">Day1~Day2</span>将不参加演唱会。</span></p>
                <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">※出演人员有未经预告进行变更的可能性。敬请谅解。</span></p>
                <div class="p-2" style="padding: 0.5rem !important;">&nbsp;</div>
                <div class="cmn-Box" style="padding: 5px; border: 1px solid #d5d5d5;">
                    <h4 class="cmn-Box_Head" style="margin: 0px 0px 0.5rem; padding: 0.75rem 0px 0.75rem 0.75rem; background-color: #f63445; color: #ffffff; font-size: 1.4rem; line-height: 1;">1 演出说明</h4>
                    <div class="p-2" style="padding: 0.5rem !important;">
                        <div class="p-2" style="padding: 0.5rem !important;">
                            <p class="MsoNormal"><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">【特别说明】</span></p>
                            <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">本次演唱会是在<strong>日本</strong>开办的演唱会；本次抽选仅为门票抽选，不包含机票酒店出行等其他服务内容。</span></p>
                            <p class="MsoNormal"><strong><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">※请确保您的护照在有效期内，且有日本签证。</span></strong></p>
                            <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">本站仅提供代购票务服务，会员需自行解决机票、酒店，出行等事宜，并自行承担在此期间的一切人身财产安全等责任。</span></p>
                            <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">如在出行过程中遇到问题请立即与公安等行政机关，或当地中国驻日领事馆联系，本站概不承担因此产生的一切责任。</span></p>
                        </div>
                        <div class="p-2" style="padding: 0.5rem !important;">
                            <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">【坐席票价说明】</span></p>
                            <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">特别注意：本次乃木坂<span lang="EN-US">46</span>中国会员站先行抽选门票仅提供指定席席位，请各位会员知悉。</span></p>
                            <p class="MsoNormal">&nbsp;</p>
                            <p class="MsoNormal"><strong><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: black; mso-fareast-language: ZH-CN;">指定席票价 <span lang="EN-US">780</span>元人民币（含<span lang="EN-US">640</span>元票价<span lang="EN-US">+140</span>元管理手续费等费用</span></strong><strong><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: black; mso-fareast-language: ZH-CN;">）</span></strong></p>
                        </div>
                    </div>
                </div>
                <div class="p-3" style="padding: 1rem !important;">&nbsp;</div>
                <div class="cmn-Box" style="padding: 5px; border: 1px solid #d5d5d5;">
                    <h4 class="cmn-Box_Head" style="margin: 0px 0px 0.5rem; padding: 0.75rem 0px 0.75rem 0.75rem; background-color: #f63445; color: #ffffff; font-size: 1.4rem; line-height: 1;">2 抽选报名相关</h4>
                    <p class="MsoNormal">&nbsp;</p>
                    <div class="p-2" style="padding: 0.5rem !important;">
                        <p class="MsoNormal"><span style="color: #000000;"><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">【</span><span style="font-family: 微软雅黑, sans-serif; font-size: 11pt;">先行门票</span><span style="font-family: 微软雅黑, sans-serif; font-size: 14.6667px;">抽选</span><span style="font-family: 微软雅黑, sans-serif; font-size: 11pt;">报名方式】（以下为中国时间）</span></span></p>
                        <p class="MsoNormal"><strong><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">申请日期：<span lang="EN-US">2020</span>年<span lang="EN-US">1</span>月<span lang="EN-US">5</span>日（周日）<span lang="EN-US">23:30</span>～<span lang="EN-US">1</span>月<span lang="EN-US">13</span>日（周一）<span lang="EN-US">22:59</span></span></strong></p>
                        <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">正式会员登录乃木坂<span lang="EN-US">46</span>中国会员站官方网址即可参与</span></p>
                        <p class="MsoNormal"><span lang="EN-US" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt;"><a href="http://www.nogizaka46-cn.com/"><span style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">http://</span><span style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">www.</span><span style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">nogizaka46-cn.com</span></a></span></p>
                        <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">乃木坂<span lang="EN-US">46</span>中国站正式会员可在“我的主页”中点击“门票抽选”按钮进行申请。</span></p>
                        <p class="MsoNormal"><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">※报名时请确保您填写的信息真实、准确、有效，如有同行人，也请确保其信息的真实、准确、有效。</span></p>
                        <p class="MsoNormal"><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">特别注意：本次所有参与活动的正式会员，在填写资料时可获得一次修改姓名的机会，并且修改后无法再次修改，请务必填写与护照一致的姓名。</span></p>
                        <p class="MsoNormal"><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">※报名时请您务必确保护照仍在有效期内，并及时申请赴日签证。</span></p>
                        <p class="MsoNormal"><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">※您的护照将作为本次现场取票唯一凭证。</span></p>
                        <p class="MsoNormal" style="margin-left: 11.0pt; text-indent: -11.0pt; mso-char-indent-count: -1.0;"><span style="color: #000000;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">■</span><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">非官方授权平台及个人</span><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">之间买卖所购入的门票，无法保证其有效性。</span></span></p>
                        <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">■由于座位全部都由抽选来决定，因此无法保证您一定能够获得前列或者您期望的坐席。</span></p>
                        <p class="MsoNormal" style="margin-left: 11.0pt; text-indent: -11.0pt; mso-char-indent-count: -1.0;"><strong><span style="color: #000000;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">■</span><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">本次活动不采取先到先得顺序。因为是抽选制，所以您可以在申请的有效期间内选择方便的时间进行申请。</span></span></strong></p>
                        <p class="MsoNormal"><span style="color: #000000;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">■抽选结果预计于<span lang="EN-US">2020</span>年<span lang="EN-US">1</span>月<span lang="EN-US">18</span>日（周六）公布</span><span style="font-size: 11pt; font-family: 'MS Mincho';">。</span></span></p>
                        <p class="MsoNormal" style="margin-left: 11.0pt; text-indent: -11.0pt; mso-char-indent-count: -1.0;"><span style="color: #000000;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">■</span><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">您</span><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">可在「我的主页」<span lang="EN-US">-</span>「门票申请」的申请页面内对抽选结果进行确认，若您因个人原因无法确认结果，本站概不负责。</span></span></p>
                        <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">■关于门票申请的相关问题请咨询以下窗口</span></p>
                        <p class="MsoNormal" style="text-indent: 11.0pt; mso-char-indent-count: 1.0;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">咨询窗口：乃木坂<span lang="EN-US">46</span>中国会员站</span></p>
                        <p class="MsoNormal" style="text-indent: 11.0pt; mso-char-indent-count: 1.0;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">邮箱：<span lang="EN-US">support@nogizaka46-cn.com</span></span></p>
                        <p class="MsoNormal" style="text-indent: 11.0pt; mso-char-indent-count: 1.0;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">（工作时间：工作日<span lang="EN-US">10</span>点～<span lang="EN-US">19</span>点）</span></p>
                        <p class="MsoNormal"><span style="color: #000000;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">■</span><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">一人可抽选<span lang="EN-US">1</span>张门票，如有同行人最多可申请<span lang="EN-US">2</span>张门票。</span></span></p>
                        <p class="MsoNormal"><span style="color: #000000;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">■</span><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">申请报名时，一个人对于同<span lang="EN-US">1</span>场公演只能申请<span lang="EN-US">1</span>次。</span></span></p>
                        <p class="MsoNormal" style="margin-left: 11.0pt; text-indent: -11.0pt; mso-char-indent-count: -1.0;"><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">■申请人请不要与同行人互相进行申请，若有同行人与申请人互相当选（重复当选）的情况的话，本站不会退还相关费用。</span></p>
                        <p class="MsoNormal" style="margin-left: 11.0pt; text-indent: -11.0pt; mso-char-indent-count: -1.0;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">■公演当日，会为坐轮椅来场的观众准备相应区域，如有需要，请您在购买门票后，公演前的<span lang="EN-US">5</span>天发邮件联络。</span></p>
                        <p class="MsoNormal" style="margin-left: 11.0pt; text-indent: -11.0pt; mso-char-indent-count: -1.0;"><span lang="JA" style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">&nbsp; 请您在邮件中告知姓名・坐席号码，工作人员会告知您当日的入场方法。</span></p>
                        <p class="MsoNormal" style="margin-left: 11.0pt; text-indent: -11.0pt; mso-char-indent-count: -1.0;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">&nbsp; 如有需要，您至多可携带<span lang="EN-US">1</span>名陪同人员一起观看演出，且陪同人员也需要门票才可入场。</span></p>
                        <p class="MsoNormal" style="margin-left: 11.0pt; text-indent: -11.0pt; mso-char-indent-count: -1.0;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">&nbsp; 根据实际状况，有可能会需要您的陪同人员在其原本的座位上观看演出。</span></p>
                        <p class="MsoNormal" style="margin-left: 11.0pt; text-indent: -11.0pt; mso-char-indent-count: -1.0;"><span style="color: #000000; font-family: 微软雅黑, sans-serif; font-size: 11pt; text-indent: 11pt;">&nbsp; 为了方便现场工作人员确认，可能会需要您提供残疾人证明等相关文件。</span></p>
                        <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">■根据座位不同，可能在演出的中途出现一部分看不见的情况，敬请谅解。</span></p>
                        <p class="MsoNormal"><span style="color: #000000;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">■禁止以</span><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">转卖为目的的购票。</span></span></p>
                        <p class="MsoNormal" style="margin-left: 9.35pt; text-indent: -9.35pt; mso-char-indent-count: -.85;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">■您的座位有可能会隔着过道，也有可能是前后的位置。请您谅解。</span></p>
                        <p class="MsoNormal"><span lang="EN-US" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-fareast-font-family: 'MS Mincho'; mso-fareast-theme-font: minor-fareast; mso-bidi-font-family: 'Meiryo UI'; color: red;">&nbsp;</span></p>
                        <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #76838f; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">※乃木坂<span lang="EN-US">46</span>中国会员站尊重并保护所有使用本网站服务的用户的个人信息，遵守《中华人民共和国消费者权益保护法》、《中华人民共和国网络安全法》、《中华人民共和国电子商务法》、《信息安全技术个人信息安全规范》以及其他涉及公民个人信息的相关法律法规，并会尽全力保护您的个人信息安全可靠。</span></p>
                    </div>
                </div>
                <div class="p-3" style="padding: 1rem !important;">&nbsp;</div>
                <div class="cmn-Box" style="padding: 5px; border: 1px solid #d5d5d5;">
                    <h4 class="cmn-Box_Head" style="margin: 0px 0px 0.5rem; padding: 0.75rem 0px 0.75rem 0.75rem; background-color: #f63445; color: #ffffff; font-size: 1.4rem; line-height: 1; font-family: -apple-system, system-ui, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;">3 支付与取票</h4>
                    <div class="p-2" style="color: #292b2c; font-family: -apple-system, system-ui, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 13px; padding: 0.5rem !important;">
                        <p class="MsoNormal"><strong><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">【支付方式】（以下为中国时间）</span></strong></p>
                        <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;"><strong style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">指定席票价&nbsp;<span lang="EN-US">780</span>元人民币（含<span lang="EN-US">640</span>元票价<span lang="EN-US">+140</span>元管理手续费等费用）</span></strong></span></p>
                        <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">本次先行门票抽选结果当选发表日为<span lang="EN-US">2020</span>年 <span lang="EN-US">1</span>月<span lang="EN-US">18</span>日（周六）</span></p>
                        <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">支付截止时间为：<span lang="EN-US">2020</span>年<span lang="EN-US">1</span>月<span lang="EN-US">19</span>日（周日）<span lang="EN-US">23:59</span></span></p>
                        <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">本次付款方式为<strong>支付宝</strong>。</span></p>
                        <p class="MsoNormal"><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">※当选会员需在<span lang="EN-US">1</span>月<span lang="EN-US">19</span>日（周日）<span lang="EN-US">23:59</span>之前支付门票费用，逾期则视为自动放弃，会员站有权取消该会员当选资格。</span></p>
                        <p class="MsoNormal"><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">※已经购入的门票，无论有任何的理由，都无法进行换票</span><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: 宋体; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">、</span><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">更换</span><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: 宋体; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">、</span><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">取消、退款。</span></p>
                        <p class="MsoNormal">&nbsp;</p>
                        <p class="MsoNormal"><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: black; mso-fareast-language: ZH-CN;">■购买门票时，还需要支付门票以外的其他管理手续费等各种手续费。</span></p>
                        <p class="MsoNormal"><strong><span lang="EN-US" style="font-family: '微软雅黑',sans-serif; mso-fareast-font-family: 宋体; mso-bidi-font-family: 微软雅黑; color: red; mso-fareast-language: ZH-CN;">&nbsp;</span></strong></p>
                        <p class="MsoNormal"><strong><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">【取票方式】（以下为日本时间）</span></strong></p>
                        <p class="MsoNormal"><span style="color: #000000;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">■</span><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">当选会员持本人护照于<span lang="EN-US">2020</span>年<span lang="EN-US">2</span>月<span lang="EN-US">21</span>日至<span lang="EN-US">2</span>月<span lang="EN-US">24</span>日期间，在日本爱知县名古屋巨蛋现场设立的乃木坂<span lang="EN-US">46</span>中国会员站专属取票窗口（台）领取门票，如有同行人，请确保同行人也携带其本人护照，并一同前往取票窗口（台）取票。</span></span></p>
                        <p class="MsoNormal"><span style="color: #000000;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">■</span><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">当选的座位号将于日本演唱会门票一般销售开启后公布，具体公布日期请及时留意本站。</span></span></p>
                        <p class="MsoNormal"><span style="color: #000000;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">■</span><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">详细现场取票方式将另行通知，请及时关注本站。</span></span></p>
                        <p class="MsoNormal"><span style="color: #000000;"><strong><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">※现场将会由中国会员站中国籍工作人员对取票会员及其同行人护照信息进行核对。如无法进行本人确认的话，将被拒绝取票及入场；如护照照片与您本人不一致，您也将被拒绝取票及入场。发生上述情况后，所有责任由会员本人承担。</span></strong></span></p>
                        <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">因此，请各位会员务必在填写先行门票抽选报名信息时仔细核对所填信息，并保证证件信息的真实、有效、准确。</span></p>
                        <p class="MsoNormal"><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">※您的护照将作为本次现场取票唯一凭证。</span></p>
                        <p class="MsoNoSpacing"><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">※</span><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 微软雅黑; color: red; mso-fareast-language: ZH-CN;">请勿将门票转让给家人或朋友，如因此造成无法取票或无法入场等情况，责任由您自行承担。</span></p>
                        <p class="MsoNormal"><span style="color: #000000;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">■</span><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 微软雅黑; mso-fareast-language: ZH-CN;">所有的观众都需要进行手提行李检查、金属探测器的检查。</span></span></p>
                        <p class="MsoNormal"><span style="color: #000000;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">■</span><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 微软雅黑; mso-fareast-language: ZH-CN;">入场时可能需要您出示护照，请随身携带并妥善保管，并请您注意个人隐私信息的保护。</span></span></p>
                        <p class="MsoNormal"><span style="color: #000000;"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif;">■</span><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">包含坐席在内的会场内的影像</span><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: 宋体; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">、</span><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">照</span><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 微软雅黑; mso-fareast-language: ZH-CN;">片有可能会被公开。</span></span></p>
                        <p class="MsoNormal">&nbsp;</p>
                        <p class="MsoNormal"><span lang="EN-US" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">&nbsp;</span></p>
                        <p class="MsoNormal"><span lang="EN-US" style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">&nbsp;</span></p>
                        <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; border: 1pt solid windowtext; padding: 0cm; color: #000000;">确认本人护照相关</span></p>
                        <p class="MsoNormal"><span style="font-size: 11pt; font-family: 微软雅黑, sans-serif; color: #000000;">请携带您本人的护照前往演唱会现场，以便工作人员进行确认。</span></p>
                        <p class="MsoNormal"><span style="color: #000000;"><span lang="JA" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">护照不能使用复印件・手写件・过期的版本，请您携带</span><span lang="JA" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 微软雅黑;">护照</span><span lang="JA" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">原本。</span></span></p>
                        <p class="MsoNormal"><span style="color: #000000;"><strong><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">如果经现场工作人员核实，您的护照信息与您报名登记时的护照信息不符，或护照照片与您本人不一致，将不予以取票或进场。请注意，即使是您无法入场的情况下，也将不予以退款。</span></strong></span></p>
                        <p class="MsoNormal"><span lang="EN-US" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">&nbsp;</span></p>
                        <p class="MsoNormal"><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">◎出借证件的行为在法律上是禁止的。</span></p>
                        <p class="MsoNormal"><span style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; color: red; mso-fareast-language: ZH-CN;">另外，对身份证明文件进行加工、伪造，或使用伪造的证件均为犯罪行为。</span></p>
                        <p class="MsoNormal"><span lang="EN-US" style="font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI'; mso-fareast-language: ZH-CN;">&nbsp;</span></p>
                    </div>
                </div>
            </div>
            <p class="MsoNormal">&nbsp;</p>
            <p class="MsoNormal"><span lang="JA" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">【抽选相关问询】</span></p>
            <p class="MsoNormal">&nbsp;</p>
            <p class="MsoNormal"><span lang="EN-US" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">support@nogizaka46-cn.com</span><span lang="JA" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">（工作日</span><span lang="EN-US" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">10:00</span><span lang="JA" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">～</span><span lang="EN-US" style="font-size: 11.0pt; mso-bidi-font-size: 12.0pt; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: 'Meiryo UI';">19:00)</span></p>
            <p class="MsoNormal">&nbsp;</p>
            <p style="language: ja; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; mso-line-break-override: none; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 18.0pt; font-family: Calibri; mso-ascii-font-family: Calibri; mso-fareast-font-family: 微软雅黑; mso-bidi-font-family: +mn-cs; mso-ascii-theme-font: minor-latin; mso-fareast-theme-font: minor-fareast; mso-bidi-theme-font: minor-bidi; color: red; mso-font-kerning: 12.0pt; language: en-US; mso-style-textfill-type: solid; mso-style-textfill-fill-color: red; mso-style-textfill-fill-alpha: 100.0%;">*</span><span style="font-size: 18.0pt; font-family: 微软雅黑; mso-ascii-font-family: Calibri; mso-fareast-font-family: 微软雅黑; mso-bidi-font-family: +mn-cs; mso-ascii-theme-font: minor-latin; mso-fareast-theme-font: minor-fareast; mso-bidi-theme-font: minor-bidi; color: red; mso-font-kerning: 12.0pt; language: zh-CN; mso-style-textfill-type: solid; mso-style-textfill-fill-color: red; mso-style-textfill-fill-alpha: 100.0%;">请确保您持有中华人民共和国护照及有效赴日签证</span></p>
            <p style="language: ja; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; mso-line-break-override: none; word-break: normal; punctuation-wrap: hanging;">&nbsp;</p>

            <div>
                <!--<form class="register-form" method="GET" action="/ticket/form/1/1">-->
                    <input type="hidden" name="_csrf" value="<%= csrf %>">


                    <input name="agree" id="agree_checkbox" type="checkbox" value="1">
                    <label for="agree_checkbox">我已充分理解并同意上述须知及注意事项</label>
                    <input type="hidden" name="ticket_main_id" value="1">
                    <input type="hidden" name="ticket_content_id" value="1">
                    <button type="submit" class="button expanded" id="ticket_enroll" onclick="alert('你在想peach');">报名先行门票抽选</button>

                    <div style="text-align: right;margin-top:30px;margin-bottom:30px;">
                        <a href="/ticket/index-content/1">返回先行申请一览</a>
                    </div>

                <!--</form>-->
            </div>
        </div>

    </main>

    <%- include('../footer.ejs') %>
</div>
<!-- /.off-canvas-content -->

<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="/js/app.js"></script>
<script>
    $(document).foundation();
</script>
</body>

</html>