<!doctype html>
<html lang="en" class="no-js">

<%- include('../head.ejs') %>

<body style="
    margin-top:120px;
	background-image: url('/images/index/bg_header.png?4');
	background-repeat: no-repeat;
	background-position: top 50px right;
	background-size:600px 159px;
	">

<%- include('../body-header.ejs') %>

<div class="off-canvas-content" data-off-canvas-content>
    <%- include('../body-site-search.ejs') %>

    <%- include('../body-top-bar.ejs') %>

    <main class="main-content">

        <div class="grid-container">
            <div class="vspace-2"></div>
            <h4 class="text-center">先行门票抽选报名</h4>
            <hr>
            <div>
                <table>
                    <thead>
                    <tr>
                        <th width="50">ID</th>
                        <th>场次</th>
                        <th width="150"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="/ticket/index-content/1">乃木坂46 8th Year BIRTHDAY Live（举办地：日本爱知县名古屋）</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <%- include('../body-footer.ejs') %>
</div>
<!-- /.off-canvas-content -->

<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="/js/app.js"></script>
<script>
    $(document).foundation();
</script>
</body>

</html>