<!doctype html>
<html lang="en" class="no-js">

<%- include('../head.ejs') %>

<body style="
    margin-top:120px;
	background-image: url('/images/index/bg_header.png?4');
	background-repeat: no-repeat;
	background-position: top 50px right;
	background-size:600px 159px;
	">
<%- include('../bodycommon.ejs') %>

<div class="off-canvas-content" data-off-canvas-content>
    <%- include('../body-site-search.ejs') %>

    <%- include('../header.ejs') %>

    <main class="main-content">
        <form class="password-reset-form" method="POST" action="/password/reset">
            <div class="grid-container">
                <div class="grid-x grid-padding-y">
                    <div class="medium-6 medium-offset-3 cell email">
                        <div class="status_message">
                        </div>
                        <h4 class="text-center">重设密码</h4>

                        <input type="hidden" name="_csrf" value="<%= csrf %>">
                        <input type="hidden" name="token" value="<%= token %>">

                        <% if (locals.emailHelpText!=undefined) { %>
                            <div class="callout small alert text-center" id="emailHelpText">
                                <p><%= emailHelpText %></p>
                            </div>
                        <% } %>
                        <label for="email">
                            邮件地址
                            <input id="email" type="email" name="email" value="" aria-describedby="emailHelpText" required="" autofocus="">
                        </label>

                        <% if (locals.passwordHelpText!=undefined) { %>
                            <div class="callout small alert text-center" id="emailHelpText">
                                <p><%= passwordHelpText %></p>
                            </div>
                        <% } %>
                        <label for="password">
                            密码
                            <input id="password" type="password" name="password" aria-describedby="passwordHelpText" required="">
                        </label>

                        <% if (locals.passwordConfirmHelpText!=undefined) { %>
                            <div class="callout small alert text-center" id="emailHelpText">
                                <p><%= passwordConfirmHelpText %></p>
                            </div>
                        <% } %>
                        <label for="password-confirm">
                            确认密码
                            <input id="password-confirm" type="password" name="password_confirmation" aria-describedby="passwordConfirmHelpText" required="">
                        </label>

                        <button type="submit" class="button expanded">点击修改密码</button>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <%- include('../footer.ejs') %>

</div>
<!-- /.off-canvas-content -->

<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="/js/app.js"></script>
<script>
    $(document).foundation();
</script>
</body>

</html>