<!doctype html>
<html lang="en" class="no-js">

<%- include('../head.ejs') %>

<body style="
    margin-top:120px;
	background-image: url('/images/index/bg_header.png?4');
	background-repeat: no-repeat;
	background-position: top 50px right;
	background-size:600px 159px;
	">
<%- include('../bodycommon.ejs') %>

<div class="off-canvas-content" data-off-canvas-content>
    <div class="header-site-search" data-toggle-search>
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell medium-8 medium-offset-2">
                    <form id="search-form" action="/search" method="GET">
                        <div class="input-group">
                            <input class="input-group-field" name="keywords" type="search" value="" placeholder="I'm looking for..." />
                            <div class="input-group-button">
                                <input type="submit" class="button dark" value="Search">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.cell -->
            </div>
            <!-- /.grid -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header-site-search -->

    <%- include('../header.ejs') %>

    <main class="main-content">
        <form class="register-form" method="POST" action="/user-password">
            <div class="grid-container">
                <div class="grid-x grid-padding-y">
                    <div class="medium-6 medium-offset-3 cell email">
                        <h4 class="text-center">修改密码</h4>

                        <input type="hidden" name="_csrf" value="<%= csrf %>">

                        <input type="hidden" name="name" value="<%= user %>">
                        <input type="hidden" name="email" value="<%= email %>">

                        <% if (locals.passwordHelpText!=undefined) { %>
                            <div class="callout small alert text-center" id="passwordHelpText">
                                <p><%= passwordHelpText %></p>
                            </div>
                        <% } %>

                        <label for="password">
                            新密码
                            <input id="password" type="password" name="password" aria-describedby="passwordHelpText">
                        </label>

                        <label for="password-confirm">
                            确认密码
                            <input id="password-confirm" type="password" name="password_confirmation">
                        </label>

                        <button type="submit" class="button expanded">确认修改</button>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <%- include('../footer.ejs') %>
</div>
<!-- /.off-canvas-content -->

<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="/js/app.js"></script>
<script>
    $(document).foundation();
</script>
</body>

</html>